<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FontHelperFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FontHelperLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FontHelperLibraryUniversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D757A4B91936850200D9D521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75E35AA19367A0200434DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75E35C119367A0200434DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75E35DC19367C7700434DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D75E35EA19367C7800434DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
